altgraph==0.17.3
Babel==2.12.1
beautifulsoup4==4.12.2
bs4==0.0.1
et-xmlfile==1.1.0
greenlet==2.0.2
lxml==4.9.3
numpy==1.25.2
openpyxl==3.1.2
ordered-set==4.1.0
pandas==2.0.3
pefile==2023.2.7
playwright==1.36.0
pyee==9.0.4
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
python-dateutil==2.8.2
pytz==2023.3
pywin32==302
pywin32-ctypes==0.2.2
six==1.16.0
soupsieve==2.4.1
tkcalendar==1.6.1
typing_extensions==4.7.1
tzdata==2023.3
zstandard==0.21.0
